@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --surface: #FFFFFF;
  --card: #FFFFFF;

  --text: #0F172A;
  --text-secondary: #64748B;

  --border: #E2E8F0;

  --primary: #2563EB;
  --primary-hover: #1D4ED8;

  --success: #16A34A;
  --warning: #F59E0B;
  --danger: #DC2626;

  --sidebar: #FFFFFF;
  
  --btn_sidebar_hover: #e5e7eb;
  --navbar: #FFFFFF;
}
.dark {
  --background: #0F172A;
  --surface: #1E293B;
  --card: #1E293B;

  --text: #F8FAFC;
  --text-secondary: #94A3B8;

  --border: #334155;

  --primary: #3B82F6;
  --primary-hover: #60A5FA;

  --success: #22C55E;
  --warning: #FBBF24;
  --danger: #EF4444;

  --sidebar: #111827;
  --btn_sidebar_hover: #1e2939;
  --navbar: #1E293B;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(.95) translateY(20px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }

}